body{
    
    background-color: black;
}

.genreBar{
    margin: 0 auto 0 auto;
    padding: 10px;    
}

.genreBar ul{
    margin: 0 auto 0 auto;
}

.genreBar li{
    margin: 0 auto 0 auto;
}

.Genre{
    list-style: none;
    color:white;
    padding: 10px;    
    margin: 0 auto 0 auto;
}

h3 {
    font-size: 90px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFF421;
    text-align: center;
    margin: auto auto 20px auto;
}

.displayList {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto ;
    background-color: rgb(182, 206, 206);
    color:black;
    border-width: 5px;
    border-style: groove;
    border-color: rgb(245, 234, 25);
    margin:auto auto 20px auto;
    font-size: 24px;
}

.textForm{
    display:flex; 
    background-color: black;
    flex-direction: row;
    padding: 3px 0px 3px 5px;

    margin: auto 0 auto 0;    
}
 
/*testing*/

